.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  background: var(--mainBg);
  padding: 50px 0;
  max-width: 90%;
  margin: 0 auto;
}
.header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.heading {
  color: var(--color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 157.143% */
  letter-spacing: 1.4px;
}
.title {
  color: var(--color);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.wrapper {
  position: relative;

  margin-right: 240px;
}

.branch {
  position: relative;
  margin-left: 300px;
}
.branch:before {
  content: "";
  width: 50px;
  border-top: var(--line);
  position: absolute;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 2px;
}
.number1::before {
  width: 0;
  left: -100px;
  border: none;
}
.entry {
  position: relative;
  min-height: 60px;
}
.entry:before {
  content: "";
  height: 100%;
  border-left: var(--line);
  position: absolute;
  left: -50px;
}
.entry:after {
  content: "";
  width: 50px;
  border-top: var(--line);
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: 1px;
}
.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px;
  border-radius: 10px 0 0 0;
}
.entry:first-child:after {
  height: 10px;
  border-radius: 10px 0 0 0;
}
.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 0 10px;
}
.entry:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: var(--line);
  border-radius: 0 0 0 10px;
  margin-top: -9px;
}
.entry:last-child:only-child::before {
  display: none;
}
.entry:last-child:only-child:after {
  border-radius: 0;
  margin-top: -7px;
}
.entry.sole:before {
  display: none;
}
.entry.sole:after {
  width: 50px;
  height: 0;
  margin-top: 0px;
  border-radius: 0;
}

.label {
  display: block;
  min-width: 200px;
  max-width: 200px;
  padding: 8px 13px;
  line-height: 20px;
  text-align: center;

  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  background: var(--bg);
  color: var(--color);
  font-size: 14px;
  line-height: 18px;
}
.root {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  padding: 12px 15px;
}
.root:before {
  content: "";
  width: 50px;
  border-top: var(--line);
  position: absolute;

  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  margin-top: 1px;
}
